.errorInput{
    border: 2px solid #ED4C67;
}

h1{
    display: block;
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    color: #2c3e50;
    margin-bottom: 60px; 
  
}


#frmRegistroCriterio{
    display: block;
    margin: 0 auto;
    width: 34%;
}
form div{
    display: inline-block;
    /* margin-right: 90px; */
    margin-bottom: 50px;
    
}

.lblInput{
    color: #2c3e50;
    margin-right: 18px;
    color: #2c3e50;
   margin-right: 18px;
    display: inline-block;
    width: 190px;
}

.lblTextArea{
    color: #2c3e50;
    text-align: right;
    float: left;
    margin-right: 126px;
    width: 86px;
    
 
 }



form div input{
    font-family: 'Raleway', sans-serif;
    width: 255px;
    height: 22px;
    outline-color: #F9AA33;
}
#txtDescripcion div{
    display: inline;
}


textarea{
    font-family: 'Raleway', sans-serif;
    resize: none;
    width: 255px;
    height: 120px;
    outline-color: #F9AA33;
}
form div select{
    display: inline-block;
    width: 254px;
    height: 35px;
}
/* 
.imageHolder label{
    display: inline-block;
}

.imageHolder figure p{
    display: inline-block;
} */

.imageHolder {
    width: 120px;
    height: 110px; 
    border-radius: 5px;
 }



 
.imageHolder p {
    display: none;
    width: 120px;
    height: 110px;
    color: white;
    font-size: 12px;
    text-align: center;
    padding-top: 38px;
 }
 
.imageHolder img:hover {
    background: #344955;
    transition: ease 650ms;
    cursor: pointer;
 }
 
/* .imageHolder:hover p {
    display: block;
 } */

.divSection{
    margin-bottom: 20px;
}
.sctImagenes{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 20px;
}
.btnDiv{
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
}

.divImagenesTrash{
    display: inline-block;
    height: 61%;
    width: 20%;
}


.btnRegistrar{
    display: block;
    padding: 14px 45px;
    margin: 0 auto;
    background: #f9aa33;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-bottom: 150px;
    margin-top: 25px;
}

.btnRegistrar:hover{
    background: #f9bf33;
    cursor: pointer;
    transition: all 300ms ease;
}
#imgActividades{
    height: 150px;
    width: 250px;
    margin-left: 230px;
    margin-bottom: -50px;
}



#btnEliminar{
    border: none;
    background-color: transparent;
    color: #2c3e50;
    font-size: 15px;

}

#btnEliminar:hover{
    text-decoration: none;
    color: #f9aa33

}


.imageActividadAgregada{  

    height: 147px;
    width: 51%;
    margin-left: 5px;
    margin-bottom: 5px;

}
