

#tituloUtiles{
    display: block;
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    color: #2c3e50;
}

.divRegistrar{
    display: block;
    margin-top: 50px;
    margin-left: 5%;
    
}

.filtroIzquierda{
    float: left;
    margin-top: 40px;
    margin-left: 5%;
    margin-bottom: 50px;
}

.filtroDerecha{
    float: right;
    margin-top: 40px;
    margin-right: 5%;
    margin-bottom: 50px;
}

.txtFiltro{
    display: inline-block;
    width: 250px;
    height: 30px;
    outline: none;
}


#txtFiltroUtiles{
    display: inline-block;
    width: 500px;
    height: 30px;
    outline: none;
    font-size: 20px;
}

/* 
form{
    display: flow-root;    
    margin-top: 40px;
    margin-right: 0%;
} */

form div select{
    display: inline-block;
    width: 220px;
    height: 35px;
    font-size: 20px;
    text-align: center;
}

 form div label{
    display: inline-block;
    width: 153px;
   
    font-size: 20px;
   
    text-align: left;
    
    
    
}

#lblFiltroDerecha{
    display: inline-block;
    width: 60px;
    /* margin-left: 53px; */
    font-size: 20px;
    /* margin-right: 42px; */
    text-align: left;
}


#tablaNombreListaU{
    border-collapse: collapse;
    margin-left: 32px;
    margin-bottom: 100px;
    width: 90%;
    margin: 0 auto;
}



#tblUtilesPICE{    
    border-collapse: collapse;
    margin-left: 32px;
    
    width: 90%;
    margin: 0 auto;
    margin-top: 149px;
    margin-bottom: 150px;
    
}

th{
    color: white;
    background-color: #f9aa33;
    border: #2c3e50 solid 1px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    
}

#tablaNombreListaU tbody tr td{
    color: #344955;
    border: #2c3e50 solid 1px;
    text-align: center;
    padding: 8px;
    font-size: 20px;
}

#tblUtilesPICE tbody tr td{
    color: #344955;
    border: #2c3e50 solid 1px;
    text-align: center;
    padding: 8px;
    font-size: 20px;
}

/* .errorSelect{    
    background-color: #ED4C67;
}

.divBotonEliminar{
    display: block;
    margin: 0 auto;
}



#btnEliminarLista{
    border: none;
    background-color: transparent;
    color: #2c3e50;
    font-size: 15px;
}


#btnEliminarLista:hover{
    border:none;   
    background: #4a6572;
    text-decoration: none;
    color: #f9aa33;
}


.divBotonActualizar{
    display: block;
    margin: 0 auto;
}



#botonActualizar{
    display: block;
    padding: 14px 45px;
    margin: 0 auto;
    background: #f9aa33;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-bottom: 25px;
    margin-top: 25px;
}


#botonActualizar:hover{
    background: #f9bf33;
    cursor: pointer;
    transition: all 300ms ease;
} */

/* a{
    color: #2c3e50;
    text-decoration: none;
    font-size: 16px;
    

}

a:hover{    
    text-decoration: none;
    color: #f9aa33
    
} */
