h1 {
    display: inline-block;
    margin-top: 40px;
    text-align: center;
    font-size: 25px;
    color: #2c3e50;
    margin-left: 5%;
    margin-bottom: 50px;
    float: top;

}

.awesome_images{
    display: inline-block;
    float: right;
    text-align: center;
    margin: 0 auto;
    color: #f9aa33;
    /*width: 100%;*/
    /*margin-left: 40px;*/
}

#cajaFiltrar {
    display: inline-block;
    float: right;
    margin-top: 40px;
    margin-right: 5%;
}

.left {
    width: 30%;
    height: 90vh;
    float: left;
    margin-left: 10%;
}

.right {
    width: 60%;
    height: 90vh;
    float: right;
    border-left: 1px solid #344955;

}

#nueva {
    display: block;
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    color: #2c3e50;
    margin-bottom: 30px;
}

textarea {
    width: 355px;
    height: 120px;
    resize: none;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

textarea#txtPregunta{
    height: 90px;
}

form div label{
    display: block;
    width: 190px;
    margin-bottom: 10px;
}

#cajaRegistrarPregunta  {
    margin: 0 auto;
}

#cajaRegistrarRespuesta  {
    margin: 0 auto;
}

.pregunta{
    font-size: 24px;
    color: #344955;
}

#error {
    margin-left: 5%;
    font-size: 20px;
    color: #f9aa33;
}

.errorInput{
    border: 1px red solid;
}

.pregunta:hover{
    /*font-size: 26px;*/
}

.respuesta:hover{
    /*font-size: 20px;*/
}

.respuesta{
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
}

.pregunta, .respuesta{

}

.pregunta *, .respuesta *{
    max-width: 401.967px;
}
tr{
    height: 80px;

}

tr:hover{
    /*background: #344955;*/
    /*color: white;*/
}

button#btnEnviar{
    display: block;
    margin-top: 45px;
    padding: 14px 50px;
    margin: 0 auto;
    background: #f9aa33;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-bottom: 50px;
}

.left{
    margin-left: 50px;
}

#tblPreguntasFrecuentes{
    position: relative;
    top: -50px;
    width: 80%;
    margin-left: 100px;
    border-collapse: separate;
    border-spacing: 0px 50px;

}

.awesome_images{
    display: none;
    margin: 5px;
    height: 100%;
}

.awesome_images i{
    height: 100%;
    margin-bottom: 5px;
    color: #344955;
    cursor: pointer;
}

.modoCambio{
    /*border: 2px #F9AA33 solid;*/
    background: #ffffff;

    /*color: #ffffff;*/
}

.modoCambio:hover{
    /*border: 2px #F9AA33 solid;*/
    background: #ffffff;

    /*color: #ffffff;*/
}

.modoCambio::selection{
    background: #344955;
    color: white;
}

.awesome_images i:hover{
    color: #f9aa33;
}