h1{
    display: block;
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    color: #2c3e50;
    margin-bottom: 60px; 
  
}

section{
    display: block;
    margin-bottom: 100px;
    margin-top: 50px;
}



.cardInfoMep{
    display: flow-root;
    width: 90%;
    height: 450px;
    margin: 0 auto;
    -webkit-box-shadow: 2px 0 4px rgba(.08, .08, .08, .08);
    box-shadow: 2px 0 4px rgba(0.4, 0.4, 0.4, 0.4);
    background-color: white;
    margin-bottom: 70px;

}

.colIzq{   
    float: left;
    width: 45%;
    margin-top: 7%;
}

.colDer{   
    float: right;
    width: 45%;
    margin-top: 20px;
    
}

.h2{
    display: block;
   margin-top: 30px;
   text-align: center;
   font-size: 20px;
   color: #f9aa33;
   font-style: bold;
   margin-bottom: 50px;
}


.h3{
    display: block;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    color: #2c3e50;
}

.carousel {
   
    margin: 0 auto;
    display: flex;
}

.celdaImagen{
    height: 120px;
    width: 110px;
    margin-right: 2px;
    object-fit: contain;
}

.img{
    display: block;
    width: 50%;
    height: 300px;
    background-size: contain;
    border-radius: 16px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;    
}


